<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/responsive.css">

    <!-- swipper js css bundle -->
    <link rel="stylesheet" href="css/swiper-bundle.min.css" />
</head>

<body>
    <!--Header-->
    <header>
        <div class="container-fluid">
            <!--Navigation Bar-->
            <nav class="navbar position-fixed">
                <div class="d-lg-none">
                    <nav class="navbar fixed-top nav-lg-custom">
                            <img src="images/logo.png" class="img-responsive" alt="logo">
                          <button class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                            <span class="navbar-toggler-icon"></span>
                          </button>
                          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                            <div class="offcanvas-header">
                              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">BCR</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body">
                              <ul class="navbar-nav justify-content-end flex-grow-1 pe-1">
                                <li class="nav-item">
                                  <a class="nav-link" href="#our-services">Our Services</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#why-us">Why Us</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#testimonial">Testimonial</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#faq">FAQ</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active mid-a" aria-current="page" href="#">Register</a>
                                </li>
                              </ul>
                            </div>
                          </div>
                      </nav>
                </div>
                <img src="images/logo.png" class="img-responsive img-xl-custom" alt="logo">
                <ul class="nav nav-pills justify-content-end nav-xl-custom">
                    <li class="nav-item">
                        <a class="nav-link" href="#our-services">Our Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#why-us">Why Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#testimonial">Testimonial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#faq">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Register</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="container-md hero">
            <div class="row">
                <div class="col col-lg-6 col-md-12 col-sm-12 col-12 justify-content-md-start text-hero">
                    <h1>Sewa &amp; Rental Mobil Terbaik di kawasan Medan</h1>
                    <p>Selamat datang di Binar Car Rental. Kami menyediakan mobil kualitas terbaik dengan harga terjangkau. Selalu siap melayani kebutuhanmu untuk sewa mobil selama 24 jam.</p>
                    <a href="/cars"><button type="button" class="btn btn-success">Mulai Sewa Mobil</button></a>
                </div>
                <div class="col col-lg-6 col-md-12 col-sm-12 col-12 justify-content-md-end img-hero">
                    <img src="images/car.png" class="img-responsive img-hero" alt="car">
                </div>
            </div>
        </div>
    </header>
    <!--Our Services-->
    <section id="our-services">
        <div class="container-md">
            <div class="row">
                <div class="col col-lg-6 col-md-12 col-sm-12 col-12 justify-content-start">
                    <img src="images/service.png" class="img-responsive people-services" alt="service">
                </div>
                <div class="col col-lg-6 col-md-12 col-sm-12 col-12 justify-content-end desc-services">
                    <h1>Best Car Rental for any kind of trip in Medan!</h1>
                    <p id="custom-text">Sewa mobil di Medan bersama Binar Car Rental jaminan harga lebih murah dibandingkan yang lain, kondisi mobil baru, serta kualitas pelayanan terbaik untuk perjalanan wisata, bisnis, wedding, meeting, dll.</p>
                    <div class="row lists-services">
                        <img src="images/correct.png" class="img-responsive correct" alt="correct">
                        <p>Sewa Mobil Dengan Supir di Bali 12 Jam</p>
                    </div>
                    <div class="row lists-services">
                        <img src="images/correct.png" class="img-responsive correct" alt="correct">
                        <p>Sewa Mobil Lepas Kunci di Bali 24 Jam</p>
                    </div>
                    <div class="row lists-services">
                        <img src="images/correct.png" class="img-responsive correct" alt="correct">
                        <p>Sewa Mobil Jangka Panjang Bulanan</p>
                    </div>
                    <div class="row lists-services">
                        <img src="images/correct.png" class="img-responsive correct" alt="correct">
                        <p>Gratis Antar - Jemput Mobil di Bandara</p>
                    </div>
                    <div class="row lists-services">
                        <img src="images/correct.png" class="img-responsive correct" alt="correct">
                        <p>Layanan Airport Transfer / Drop In Out</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Why Us-->
    <section id="why-us">
        <div class="container-md">
            <div class="row">
                <h1>Why Us?</h1>
                <p id="text-center-custom">Mengapa harus pilih Binar Car Rental?</p>
                <div class="col col-md-6 col-lg-3 col-sm-12 col-12">
                    <div class="card position-static card-height">
                        <div class="card-body">
                            <img src="images/icon_complete.png">
                            <h5 class="card-title">Mobil Lengkap</h5>
                            <p class="card-text">Tersedia banyak pilihan mobil, kondisi masih baru, bersih dan terawat</p>
                        </div>
                    </div>
                </div>
                <div class="col col-md-6 col-lg-3 col-sm-12 col-12">
                    <div class="card position-static card-height">
                        <div class="card-body">
                            <img src="images/icon_price.png">
                            <h5 class="card-title">Harga Murah</h5>
                            <p class="card-text">Harga murah dan bersaing, bisa bandingkan harga kami dengan rental mobil lain</p>
                        </div>
                    </div>
                </div>
                <div class="col col-md-6 col-lg-3 col-sm-12 col-12">
                    <div class="card position-static card-height">
                        <div class="card-body">
                            <img src="images/icon_24hrs.png">
                            <h5 class="card-title">Layanan 24 Jam</h5>
                            <p class="card-text">Siap melayani kebutuhan Anda selama 24 jam nonstop. Kami juga tersedia di akhir minggu</p>
                        </div>
                    </div>
                </div>
                <div class="col col-md-6 col-lg-3 col-sm-12 col-12">
                    <div class="card position-static card-height">
                        <div class="card-body">
                            <img src="images/icon_professional.png">
                            <h5 class="card-title">Sopir Profesional</h5>
                            <p class="card-text">Sopir yang profesional, berpengalaman, jujur, ramah dan selalu tepat waktu</p>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <!--Testimonial-->
    <section id="testimonial">
        <div class="container-md">
            <div class="testimonial-header text-center">
                <h2>Testimonial</h2>
                <p id="testimonial-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
            </div>
        </div>
        <div class="carousel-container swiper">
            <div class="carouse-content">
                <div class="card-wrapper swiper-wrapper">
                    <div class="carousel-card swiper-slide">
                        <div class="carousel-image">
                            <img src="images/testimonial-pria.png" alt="testimonial user image" />
                        </div>
                        <div class="carousel-text ms-5">
                            <div class="rating-stars">
                                <img src="images/testimonial-rate.png" alt="Rating stars" />
                            </div>
                            <div class="carousel-desc">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae ipsam obcaecati optio minima facilis quaerat, quis, culpa harum deleniti ea quisquam alias reprehenderit cum non nam fugiat corrupti veritatis ut!
                                </p>
                                <h3 class="username">Fendy Sanjaya 20, Medan</h3>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-card swiper-slide">
                        <div class="carousel-image">
                            <img src="images/testimonial-wanita.png" alt="testimonial user image" />
                        </div>
                        <div class="carousel-text ms-5">
                            <div class="rating-stars">
                                <img src="images/testimonial-rate.png" alt="Rating stars" />
                            </div>
                            <div class="carousel-desc">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae ipsam obcaecati optio minima facilis quaerat, quis, culpa harum deleniti ea quisquam alias reprehenderit cum non nam fugiat corrupti veritatis ut!
                                </p>
                                <h3 class="username">Fendy Sanjaya 20, Medan</h3>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-card swiper-slide">
                        <div class="carousel-image">
                            <img src="images/testimonial-pria.png" alt="testimonial user image" />
                        </div>
                        <div class="carousel-text ms-5">
                            <div class="rating-stars">
                                <img src="images/testimonial-rate.png" alt="Rating stars" />
                            </div>
                            <div class="carousel-desc">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae ipsam obcaecati optio minima facilis quaerat, quis, culpa harum deleniti ea quisquam alias reprehenderit cum non nam fugiat corrupti veritatis ut!
                                </p>
                                <h3 class="username">Fendy Sanjaya 20, Medan</h3>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-card swiper-slide">
                        <div class="carousel-image">
                            <img src="images/testimonial-wanita.png" alt="testimonial user image" />
                        </div>
                        <div class="carousel-text ms-5">
                            <div class="rating-stars">
                                <img src="images/testimonial-rate.png" alt="Rating stars" />
                            </div>
                            <div class="carousel-desc">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae ipsam obcaecati optio minima facilis quaerat, quis, culpa harum deleniti ea quisquam alias reprehenderit cum non nam fugiat corrupti veritatis ut!
                                </p>
                                <h3 class="username">Fendy Sanjaya 20, Medan</h3>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-card swiper-slide">
                        <div class="carousel-image">
                            <img src="images/testimonial-pria.png" alt="testimonial user image" />
                        </div>
                        <div class="carousel-text ms-5">
                            <div class="rating-stars">
                                <img src="images/testimonial-rate.png" alt=" Rating stars " />
                            </div>
                            <div class="carousel-desc ">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae ipsam obcaecati optio minima facilis quaerat, quis, culpa harum deleniti ea quisquam alias reprehenderit cum non nam fugiat corrupti veritatis ut!
                                </p>
                                <h3 class="username ">Fendy Sanjaya 20, Medan</h3>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-card swiper-slide">
                        <div class="carousel-image ">
                            <img src="images/testimonial-wanita.png " alt="testimonial user image " />
                        </div>
                        <div class="carousel-text ms-5 ">
                            <div class="rating-stars ">
                                <img src="images/testimonial-rate.png " alt="Rating stars " />
                            </div>
                            <div class="carousel-desc ">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae ipsam obcaecati optio minima facilis quaerat, quis, culpa harum deleniti ea quisquam alias reprehenderit cum non nam fugiat corrupti veritatis ut!
                                </p>
                                <h3 class="username ">Fendy Sanjaya 20, Medan</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-button">
                    <div class="swiper-button-prev carousel-button-content">
                        <span class="next "></span>
                    </div>
                    <div class="swiper-button-next carousel-button-content">
                        <span class="prev "></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--CTA Banner-->
    <section id="cta-banner">
        <div class="container-md">
            <div class="row">
                <div class="card text-center position-static">
                    <div class="card-body">
                        <h1 class="card-title">Sewa Mobil di Medan Sekarang</h1>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="/cars"><button type="button" class="btn btn-success">Mulai Sewa Mobil</button></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Frequently Asked Question-->
    <section id="faq">
        <div class="container-md">
            <div class="row">
                <div class="col-lg-4 col-sm-12 col-12 faq-text">
                    <h1>Frequently Asked Question</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing</p>
                </div>
                <div class="col-lg-8 col-sm-12 col-12">
                    <div class="accordion accordion-flush position-static" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed position-static" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="true" aria-controls="flush-collapseOne">Apa saja syarat yang dibutuhkan?</button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion accordion-flush position-static" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingTwo">
                                <button class="accordion-button collapsed position-static" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                      Berapa hari minimal sewa mobil lepas kunci?
                                    </button>
                            </h2>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion accordion-flush position-static" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingThree">
                                <button class="accordion-button collapsed position-static" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                      Berapa hari sebelumnya sabaiknya booking sewa mobil?
                                    </button>
                            </h2>
                            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just
                                    filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion accordion-flush position-static" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingFour">
                                <button class="accordion-button collapsed position-static" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                                      Apakah ada biaya antar-jemput?
                                    </button>
                            </h2>
                            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just
                                    filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion accordion-flush position-static" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingFive">
                                <button class="accordion-button collapsed position-static" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                                      Bagaimana jika terjadi kecelakaan?
                                    </button>
                            </h2>
                            <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just
                                    filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
    </section>
    <!--Footer-->
    <footer>
        <div class="container-md">
            <div class="row">
                <div class="col col-lg-3 col-sm-12 col-12">
                    <p id="alamat-width-custom">Jalan Suroyo No. 161 Mayangan Kota Probolonggo 672000</p>
                    <p>binarcarrental@gmail.com</p>
                    <p>081-233-344-808</p>
                </div>
                <div class="col col-lg-2 col-sm-12 col-12">
                    <ul>
                        <li><a class="link-dark" href="#our-services">Our Services</a></li>
                        <li><a class="link-dark" href="#why-us">Why Us</a></li>
                        <li><a class="link-dark " href="#testimonial">Testimonial</a></li>
                        <li><a class="link-dark" href="#faq">FAQ</a></li>
                    </ul>
                </div>
                <div class="col col-lg-4 col-sm-12 col-12 ">
                    <p id="social-media-custom">Connect with us</p>
                    <div class="row logo-social-media">
                        <img src="images/icon_facebook.png ">
                        <img src="images/icon_instagram.png ">
                        <img src="images/icon_twitter.png ">
                        <img src="images/icon_mail.png ">
                        <img src="images/icon_twitch.png ">
                    </div>
                </div>
                <div class="col col-lg-3 col-sm-12 col-12">
                    <p>Copyright Binar 2022</p>
                    <img id="logo-custom" src="images/logo.png">
                </div>
            </div>
        </div>
    </footer>
    <!--<script src="bootstrap-5.2.0-dist/js/bootstrap.min.js "></script>-->

    <!-- bootsstrap js bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

    <!-- swiper js bundle -->
    <script src="scripts/swiper-bundle.min.js"></script>
    <script src="scripts/script.js" type="text/javascript"></script>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>